<%- include("../header", {title: title}); %>

<h1>Product list</h1>

<table>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Balance</th>
        <th>Action</th>
    </tr>
    <% for (const row of res) { %>
    <tr>
        <td><a href="/eshop/account/<%= row.id %>"><%= row.id %></a></td>
        <td><%= row.name %></td>
        <td class="right"><%= row.balance %></td>
        <td class="right">
            <a href="/eshop/edit/<%= row.id %>">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a href="/eshop/delete/<%= row.id %>">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
        </td>
    </tr>

    <% }; %>
</table>

<%- include("../footer"); %>
