<%- include("../header", {title: title}); %>

<a href="/eshop/category/create">Create category</a>

<h1>Product list</h1>

<table>
    <tr>
        <th>Name</th>
        <th>Action</th>
    </tr>
    <% for (const row of res) { %>
    <tr>
        <td><%= row.name %></td>
        <td class="right">
            <a href="/eshop/category/edit/<%= row.category_id %>">
                <i class="fa fa-pencil-square-o" aria-hidden="true"></i>
            </a>
            <a href="/eshop/category/delete/<%= row.category_id %>">
                <i class="fa fa-trash-o" aria-hidden="true"></i>
            </a>
        </td>
    </tr>

    <% }; %>
</table>

<%- include("../footer"); %>
