<%- include("header", {title: title}); %>


<% res = res[0] %>
<form class="label-left" method="post" action="/bank/delete">
    <fieldset>
        <legend>Edit account</legend>

        <label for="id">Id</label>
        <input id="id" readonly type="text" name="id" readonly value="<%= res.id %>">

        <label for="name">Name</label>
        <input id="name" readonly type="text" name="name" value="<%= res.name %>">

        <label for="balance">Balance</label>
        <input id="balance" readonly type="number" name="balance" value="<%= res.balance %>">

        <input type="submit" name="doit" value="Delete <%= res.name %>">
    </fieldset>
</form>

<%- include("footer"); %>
