<%- include("../header", { title: title }); %>
<div class="container my-3">
    <h1 class="mt-5 mb-4">Customer List</h1>

    <div class="table-responsive">
        <table class="table my-4 shadow-sm p-3 bg-white table-hover rounded rounded-3 overflow-hidden w-100">
            <thead class="thead-light table-info">
                <tr>
                    <th scope="col">First Name</th>
                    <th scope="col">Last Name</th>
                    <th scope="col">Email</th>
                    <th scope="col" class="text-center">Action</th>
                </tr>
            </thead>
            <tbody class="border">
                <% for (const row of res) { %>
                <tr>
                    <td><%= row.firstname %></td>
                    <td><%= row.lastname %></td>
                    <td><%= row.email %></td>
                    <td class="text-center">
                        <a href="/eshop/show/pro/<%= row.customer_id %>" class="btn btn-primary">Create Order</a>
                    </td>
                </tr>
                <% }; %>
            </tbody>
        </table>
    </div>
</div>

<%- include("../footer"); %>
